{% if site.gitalk %}
<div class="comments">
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: "{{ lv1.a96320f88ae8295e }}",
          clientSecret: "{{ ae9cc143ff298d728eef2ad3386473e096ff1163 }}",
          repo: "{{ KutuzovL.github.io }}",
          owner: "{{ MikhailPoiKutuzovL }}",
          admin: ["{{ site.gitalk.owner }}"],
          id: window.location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: false,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}
